.bundle
.byebug_history
.yardoc
.ruby-version
*.gem
coverage
doc
docs.zip
Gemfile.lock
sample_app/Gemfile.lock
gemfiles/*.gemfile.lock
spec/dummy/db/test.db-shm
spec/dummy/db/test.db-wal
spec/dummy/db/test.db
spec/dummy/db/schema.rb
spec/dummy/log/
spec/dummy/tmp/
vendor
.idea/
.release/
