.DS_Store

/.byebug_history
/.bundle
/.yardoc
/doc
/Gemfile.lock
/coverage
*.gem
/.release

.idea/

gemfiles/*.gemfile.lock

test/dummy/db/migrate
test/dummy/log/

sample_app/Gemfile.lock
spec/dummy/db/test.db-shm
spec/dummy/db/test.db-wal
spec/dummy/db/test.db
spec/dummy/db/schema.rb
spec/dummy/log/
spec/dummy/tmp/