name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.3, 2.4, 2.5, 2.6, 2.7, '3.0', 3.1, 3.2, 3.3, jruby-9.1, jruby-9.2, jruby-9.3, jruby-9.4]
        gemfile: [rails-5.2.gemfile, rails-6.0.gemfile, rails-6.1.gemfile, rails-7.0.gemfile, rails-main.gemfile]

        exclude:
          # Rails 5 does not work with Ruby 3
          - gemfile: rails-5.2.gemfile
            ruby: '3.0'
          - gemfile: rails-5.2.gemfile
            ruby: 3.1
          - gemfile: rails-5.2.gemfile
            ruby: 3.2
          - gemfile: rails-5.2.gemfile
            ruby: 3.3
          - gemfile: rails-5.2.gemfile
            ruby: jruby-9.4

          # Rails 6 requires Ruby >= 2.5
          - gemfile: rails-6.0.gemfile
            ruby: 2.3
          - gemfile: rails-6.1.gemfile
            ruby: 2.3
          - gemfile: rails-7.0.gemfile
            ruby: 2.3
          - gemfile: rails-main.gemfile
            ruby: 2.3

          - gemfile: rails-6.0.gemfile
            ruby: 2.4
          - gemfile: rails-6.1.gemfile
            ruby: 2.4
          - gemfile: rails-7.0.gemfile
            ruby: 2.4
          - gemfile: rails-main.gemfile
            ruby: 2.4

          - gemfile: rails-6.0.gemfile
            ruby: jruby-9.1
          - gemfile: rails-6.1.gemfile
            ruby: jruby-9.1
          - gemfile: rails-7.0.gemfile
            ruby: jruby-9.1
          - gemfile: rails-main.gemfile
            ruby: jruby-9.1

          # Rails 7 requires Ruby >= 2.7
          - gemfile: rails-7.0.gemfile
            ruby: 2.5
          - gemfile: rails-main.gemfile
            ruby: 2.5

          - gemfile: rails-7.0.gemfile
            ruby: 2.6
          - gemfile: rails-main.gemfile
            ruby: 2.6

          - gemfile: rails-7.0.gemfile
            ruby: jruby-9.2
          - gemfile: rails-main.gemfile
            ruby: jruby-9.2

          - gemfile: rails-7.0.gemfile
            ruby: jruby-9.3
          - gemfile: rails-main.gemfile
            ruby: jruby-9.3

          # Rails 7.1 dropped support for older rubygems
          - gemfile: rails-main.gemfile
            ruby: 2.7
          - gemfile: rails-main.gemfile
            ruby: 3.0

    steps:
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - uses: actions/checkout@v3
      - name: Install gems
        run: bundle install --gemfile=gemfiles/${{ matrix.gemfile }}

      - name: Test
        run: BUNDLE_GEMFILE=gemfiles/${{ matrix.gemfile }} bundle exec rake

  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - uses: actions/checkout@v2

      - name: Install gems
        run: bundle install

      - name: Rubocop
        run: bundle exec rubocop -E -S
