name: CI

on:
  push:
    branches:
      - main 

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, '3.0', jruby-9.2]
        gemfile: [gemfiles/rails-5.2.gemfile, gemfiles/rails-6.0.gemfile, gemfiles/rails-6.1.gemfile, gemfiles/rails-7.0.gemfile, gemfiles/rails-main.gemfile]
        include:
          - gemfile: gemfiles/rails-5.2.gemfile
            ruby: 2.3
          - gemfile: gemfiles/rails-5.2.gemfile
            ruby: 2.4
          - gemfile: gemfiles/rails-5.2.gemfile
            ruby: jruby-9.1
        exclude:
          - gemfile: gemfiles/rails-5.2.gemfile
            ruby: '3.0'
          - gemfile: gemfiles/rails-main.gemfile
            ruby: 2.5
          - gemfile: gemfiles/rails-main.gemfile
            ruby: 2.6
          - gemfile: gemfiles/rails-main.gemfile
            ruby: jruby-9.2
          - gemfile: gemfiles/rails-7.0.gemfile
            ruby: 2.5
          - gemfile: gemfiles/rails-7.0.gemfile
            ruby: 2.6
          - gemfile: gemfiles/rails-7.0.gemfile
            ruby: jruby-9.2
    steps:
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - uses: actions/checkout@v2
      - name: Install gems
        run: bundle install --gemfile=${{ matrix.gemfile }}

      - name: Test
        run: BUNDLE_GEMFILE=${{ matrix.gemfile }} bundle exec rake
