name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.3, 2.4, 2.5, 2.6, 2.7, jruby-9.1, jruby-9.2]
        gemfile: [gemfiles/rails-5.2.gemfile, gemfiles/rails-6.0.gemfile, emfiles/rails-master.gemfile]
        exclude:
          gemfile: gemfiles/rails-master.gemfile
            ruby: 2.3
          gemfile: gemfiles/rails-master.gemfile
            ruby: 2.4
          gemfile: gemfiles/rails-6.0.gemfile
            ruby: 2.3
          gemfile: gemfiles/rails-6.0.gemfile
            ruby: 2.4

    steps:
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - uses: actions/checkout@v2
      - name: Install gems
        run: bundle install --gemfile=${{ matrix.gemfile }}

      - name: Test
        run: bundle exec rake
